A:link,A:visited {text-decoration:none;color:#6d6e71; FONT-SIZE: 10pt; }
A:hover{text-decoration:yes;color:#23A41A;}

.FA:link,FA:visited {text-decoration:none;color:#ffffff; FONT-SIZE: 10pt; }
.FA:hover{text-decoration:yes;color:#23A41A;}

.FFA:link,.FFA:visited {text-decoration:none;color:#ffffff}
.FFA:hover{text-decoration:yes;color:#ffffff;}


.FTABLE{
	FONT-SIZE: 9pt; COLOR: #ffffff; LINE-HEIGHT: 160%; FONT-FAMILY:  Yoon À±°íµñ 530_TT,verdana,tahoma;
	BORDER:0; BACKGROUND-COLOR:#B0B0B0;
}
 .FBUTTON {
	BORDER:0pt;
	FONT-SIZE: 9pt; 	COLOR: #ffffff;  FONT-FAMILY:  Yoon À±°íµñ 530_TT,verdana,tahoma;
	LINE-HEIGHT: 160%; 	TEXT-ALIGN:center; BACKGROUND-COLOR: #6d6e71;
} 
 .FBUTTON:hover {
	COLOR: #ffffff;  BACKGROUND-COLOR: #6d6e71;
} 
.FSELECT {
	FONT-SIZE: 9pt; COLOR: #B0B0B0; LINE-HEIGHT: 160%; FONT-FAMILY:  Yoon À±°íµñ 530_TT,verdana,tahoma;
}

/*
 .FBUTTON {
	LINE-HEIGHT: 160%; 
	FONT-SIZE: 9pt; FONT-FAMILY: ±¼¸²,verdana,tahoma;
	TEXT-ALIGN:center; BACKGROUNDCOLOR:#6c5337;
} 

.RTABLE2{
	FONT-SIZE: 9pt; COLOR: #6c5337; LINE-HEIGHT: 160%; FONT-FAMILY: ±¼¸²,verdana,tahoma;
	TEXT-ALIGN:center; BORDER:0; BACKGROUND-COLOR:#d1d3d4;
}
.RTD {
	FONT-SIZE: 9pt; COLOR: #ffffff; LINE-HEIGHT: 160%; FONT-FAMILY: ±¼¸²,verdana,tahoma;
	BORDER:0; 
}
.RTD2 {
	FONT-SIZE: 9pt; COLOR: #6c5337; LINE-HEIGHT: 160%; FONT-FAMILY: ±¼¸²,verdana,tahoma;
	BORDER:0; 
}
 .RTEXT {
	LINE-HEIGHT: 160%; 
	FONT-SIZE: 9pt; FONT-FAMILY: ±¼¸²,verdana,tahoma;
	TEXT-ALIGN:center; 
} 
.RSELECT {
	FONT-SIZE: 9pt; COLOR: #6c5337; LINE-HEIGHT: 160%; FONT-FAMILY: ±¼¸²,verdana,tahoma
}
 .RBUTTON {
	LINE-HEIGHT: 160%; 
	FONT-SIZE: 9pt; FONT-FAMILY: ±¼¸²,verdana,tahoma;
	TEXT-ALIGN:center; backgroundcolor:#d1d3d4;
} 



BODY {
	FONT-SIZE: 9pt; COLOR: #6d6e71; LINE-HEIGHT: 160%; FONT-FAMILY: ±¼¸²,verdana,tahoma
}


TD {
	FONT-SIZE: 9pt; COLOR: #6d6e71; LINE-HEIGHT: 160%; FONT-FAMILY: ±¼¸²,verdana,tahoma;
	TEXT-ALIGN:center;
}
.BUTTON_A {
	BORDER-RIGHT: 1px solid #CCCCCC; BORDER-TOP: 1px solid #CCCCCC; 
	BORDER-LEFT: 1px solid #CCCCCC; BORDER-BOTTOM: 1px solid #CCCCCC; 
	FONT-SIZE: 9pt; FONT-FAMILY: ±¼¸²,verdana,tahoma; COLOR: #6c5337; 
	LINE-HEIGHT: 160%; TEXT-ALIGN:center; 
} 
 


 SELECT {
	FONT-SIZE: 9pt; COLOR: #6d6e71; LINE-HEIGHT: 160%; FONT-FAMILY: ±¼¸²,verdana,tahoma
}
DIV {
	FONT-SIZE: 9pt; COLOR: #6d6e71; LINE-HEIGHT: 160%; FONT-FAMILY: ±¼¸²,verdana,tahoma
}
FORM {
	FONT-SIZE: 9pt; COLOR: #6d6e71; LINE-HEIGHT: 160%; FONT-FAMILY: ±¼¸²,verdana,tahoma
}
TEXTAREA {
	BORDER-RIGHT: 1px solid #999999; BORDER-TOP: 1px solid #999999; FONT-SIZE: 9pt; 
	BORDER-LEFT: 1px solid #999999 ; COLOR: #6d6e71; BORDER-BOTTOM: 1px solid #999999; 
	FONT-FAMILY: ±¼¸²,verdana; BACKGROUND-COLOR: white
}
 INPUT {
	BORDER-RIGHT: 1px solid #999999; BORDER-TOP: 1px solid #999999; FONT-SIZE: 9pt; 
	BORDER-LEFT: 1px solid #999999; COLOR: #6d6e71; BORDER-BOTTOM: 1px solid #999999; 
	LINE-HEIGHT: 160%; FONT-FAMILY: ±¼¸²,verdana,tahoma;
	TEXT-ALIGN:center; BACKGROUND-COLOR: #fff685
} 
 */